<div class="card-panel">
  <div class="page-header">
    <h5 class= "condensed light center-align">
      UPDATE PROFILE
    </h5>
  </div><br/>
  <%= render partial: 'users/form', locals: { resource: @user } %>
</div>
