<br>
<div class= "center-align">
  <%= image_tag("hi-small.jpg", size: "140x195" )%>
<h3>Instarter</h3>
<p>A better entreprenuer everyday</p>

<a href = "/users/sign_up" class="waves-effect waves-light btn orange lighten-2 ">Create an account </a>
</div>
