<div class="row"></br></br>
    <h5 class="center-align grey-text text-darken-3 condensed light">Request Received</h5></br>
  <div class="col s12 m8 offset-m2 l8 offset-l2 card">

    <div class="col s2">
    <%= image_tag("done.png", alt: "Done", width: '100%', height: 'auto', class: "success")%>
  </div>
    <div class="col s10 grey-text text-darken-2">
    <p>Hi! <%= @request.name.titleize %>, <br>We have received your request for an early access of INSTARTER. You will receive a welcome message in 2-3 minutes.
      Meanwhile, share this page to your friends and startup groups. Lets build a community of learners. Thank you!</p>
    </div>
  </div>
</div>

<div class="row">
<div class="center-align">
<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Finstarter.com%2F&layout=button_count&mobile_iframe=true&width=87&height=20&appId" width="87" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://instarter.com" data-text="Discover articles, lectures & startup events around you. #startupindia" data-via="suman_io">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/Share" data-url="http://instarter.com/" data-counter="right"></script>
</div>
</div>
