Hi <%= @request.name %>,
<p>
I really appreciate your interest to join Instarter.</p>
<p>
We built Instarter to help budding entrepreneurs organise their learning process by
making it easy to discover quality articles, events & lecture series focused on entrepreneurship.
I hope we can achieve that for you.</p>
<p>
If you wouldn't mind, I'd love it if you answered one quick question:
why did you sign up for Instarter?</p>
<p>
I'm asking this because knowing what made you sign up is really helpful for us,<br />
in making sure that we're delivering on what our users want. Just hit "reply" and let me know.</p>
<p>
PS: Your request to join Instarter is under review. We'll will send you a confirmation in a couple of days</p>

<br/>
<p>Thanks,<br />
Suman Puri<br />
Creator, Instarter</p>
