# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2539f2bdebf375e2e5f3c5404e8533239f7b4da83781125be0c6eddaea31877c4a5567462e0e8e9a75ce43beddf493212fecefdabba06a510362f7dc6bcd3b27

test:
  secret_key_base: 4d1e7463dd5d9f41c881ee83078fce8024c7fcd4d92ec13936abe6ceb9f9caf0714ca592f2db87983f52f8379a45ca68a4f26280bbf1ed3db3a5592971dbe2b2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
