</br>
<div class="row">

  <span class="condensed">Topic: <%= @tag.name.titleize %></span>

  <span class="right">
    <%= render 'follow_form' if user_signed_in? %>
  </span>
</div>

<div class="row">
  <ul class="collection">
    <%= render @posts %>
  </ul>
</div>
