/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require nprogress
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";
@import "materialize";

#nprogress {
  position: relative;
  z-index: 9999999;
}

.pagination a li.active {
  color: #fff;
}

.post-title {
  color: black;
}

.new-tab {
  color: #0288d1;
}

.post-meta{
  color: grey;
  font-size: 0.9em;
}

.action {
  padding-left: 20px;
}

.post-wrapper {
  padding-right: 18px;
}

nav ul li a{
  color: #3e3e3e;
}

.link-form {
  margin: 0px 20px 0px 20px;
}

.brand-logo {
  margin-top: 5px;
}

.collection .collection-item.avatar {
  padding-left: 55px;
}

.votes {
  position: absolute;
    width: 50px;
    height: 60px;
    padding-top: 5px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

p.vote-no {
  font-size: 0.9em;
  padding-left: 8px;
}



.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;

    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}

.reply-form {
  display: none;
}

.comments-show {
  margin-left: 25px;
}

.intro {
  margin-top: -10px;
}

.banner {
  padding-top: 5px;
}

.success {
  margin-top: 22px;
}


.card .card-content .card-title {
  font-size: 20px;
  line-height: 25px;
}

.card .card-reveal .card-title {
  font-size: 20px;
  line-height: 25px;
}
